################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
[Bb]in
[Oo]bj
PerfLogs
*.suo
*.sap
*.user
packages
*.lock.json
*~
/OneBusAway.ViewModel/Class1.cs
/OneBusAway.ViewModel/Properties/OneBusAway.ViewModel.rd.xml
/OneBusAway.ViewModel
